{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components/",
          "@generated": "./src/generated/",
          "@css": "./src/css/",
          "@utils": "./src/utils/",
          "@services": "./src/services/",
          "@hooks": "./src/hooks/"
        }
      }
    ]
  ]
}
